html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('../images/background-image.jpg');
    background-size: cover;
    background-position: center;
}

.option {
    flex-grow: 1;
}

.option .col-md-3 { 
    cursor: pointer;
}

.option h5,
.col-md-4 h5 {
    margin: 0;
    color: black;
}

.option .change-information:hover,
.change-name:hover {
    background-color: #0d6efd;
}

.option .change-about:hover,
.change-password:hover {
    background-color: #6c757d;
}

.option .change-skills:hover {
    background-color: #198754;
}

.option .change-portfolio:hover {
    background-color: #dc3545;
}

.option .change-work-experience:hover {
    background-color: #ffc107;
}

.option .change-education:hover {
    background-color: #0dcaf0;
}

.option .col-md-3:hover h5,
.col-md-4.change-name:hover h5,
.col-md-4.change-password:hover h5 {
    color: #fff;
}

.footer {
    padding-top: 20px;
    background-color: #edecec;
    margin-top: auto;
}

.image-preview {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.skill-pagination .page-item.active .page-link {
    background-color: #378c3f !important;
    color: #fff !important;
    border: 1px solid black;
}

.skill-pagination .page-item .page-link {
    background-color: #fff !important;
    color: black !important;
    border: 1px solid black;
}

.skill-pagination .page-item .page-link:focus,
.skill-pagination .page-item .page-link:hover {
    box-shadow: none;
}

.project-image {
    width: 130px;
    height: 130px;
}

.image-project-preview {
    width: 130px;
    height: 100px;
}

.required {
    color: red;
}

